<h3>Products</h3>
<% if @products.any? %>
<% @products.each do |product| %>
<p><%= link_to product.name, product_path(product) %></p>
<% end %>
<% else %>
<p>No products to display</p>
<% end %>

<h3>Products made in the USA</h3>

<% if @products.usa.any? %>
<% @products.usa.each do |usaProduct| %>
<p><%= link_to usaProduct.name, product_path(usaProduct) %></p>
<% end %>
<% else %>
<p>No products to display</p>
<% end %>


<% if current_user %>

<% if current_user.admin %>
<%=  link_to '<button type="button" class="button jello-horizontal">New Product</button>'.html_safe, new_product_path %>

<% end %>

<% end %>
